Repository Seneca-CDOT/Osteppy, pull requests merged in 2020-10, with the labels that each got.

#46 Closes #45: Add docker deployment
  .dockerignore
  Dockerfile
  docker-compose.yml
Labels: area: develop, area: docker, type: enhancement

#49 Improve linting config
  .eslintrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/main.ts
Labels: area: develop, priority: high, type: enhancement

#48 Use GitHub Actions
  .github/workflows/run_linter.yml
Labels: area: ci, area: develop, priority: low, type: enhancement

#47 feat: add Mongoose using nestjs dedicated package
  .dockerignore
  .eslintignore
  .gitignore
  docker-compose.yml
  env.example
  package-lock.json
  package.json
  src/Users/dto/create-user.dto.ts
  src/Users/schemas/user.schema.ts
  src/Users/users.service.ts
  src/app.module.ts
  src/main.ts
Labels: area: develop, area: docker, area: mongodb, type: enhancement
